html {
}

header {
  border-bottom: 2px solid black;
  display: inline-block;
}

.Game {
  display: inline-block;
  height: 100px;
  width: 70px;
}

.logo {
  float: left;
  height: 20px;
  width: 20px;
}
