html {
  background-image: url("Bone Cheap Games Pics/Bone RibCage.gif");
}

body {
  background-color: white;
  margin: 10px;
}

div {
  display: inline-block;
  text-align: center;
}

header {
  background-color: white;
  border-bottom: 2px solid black;
  margin: 10px auto;
  padding: 10px
}

nav {
  display: inline-block;
}

.Game {
  height: 100px;
  width: 70px;
}

.Logo {
  height: 50px;
  width: 50px;
}
