html {
}

header {
  border-bottom: 2px solid black;
  margin: 10px auto;
  height: 50px;
  width: 50px;
}

nav {
  display: inline-block;
}

.Game {
  display: inline-block;
  height: 100px;
  width: 70px;
}

.Logo {
  float: left;
}
